@charset "utf-8";
.rightbox1 {
	width: 1600px;
	margin-right: auto;
	margin-left: auto;
}
.topbox1 {
	height: 54px;
	width: 1600px;
	background-color: #D6E5ED;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
}
.topbox1 p {
	font-size: 20px;
	line-height: 54px;
	font-family: "思源黑体 CN Normal";
	margin-left: 48px;
}
.ywbxzbox1 {
	width: 1590px;
	padding-left: 10px;
	margin-top: 14px;
	margin-bottom: 10px;
	height: 65px;
}
.point1 {
	background-color: #FFFFFF;
	height: 60px;
	width: 60px;
	border: 4px solid #d8d8d8;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	text-align: center;
	margin-right: 20px;
	float: left;
}
.point1 p {
	font-family: "思源黑体 CN Normal";
	font-size: 28px;
	line-height: 60px;
	font-weight: bolder;
	color: #009587;
}
.point0 {
	background-color: #009587;
	height: 60px;
	width: 60px;
	border: 4px solid #d8d8d8;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	text-align: center;
	margin-right: 20px;
	float: left;
}
.point0 p {
	font-family: "思源黑体 CN Normal";
	font-size: 28px;
	line-height: 60px;
	font-weight: bolder;
	color: #FFFFFF;
}
.guangzipaibox1 {
	width: 1592px;
	padding-left: 10px;
	padding-top: 6px;
	height: 200px;
}
.guangzipaibox1 li {
	float: left;
	height: 80px;
	width: 130px;
	border: 2px solid #d8d8d8;
	margin-right: 8px;
	border-radius:8px 8px 8px 8px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.guangzipaibox1 ul {
	width: 1610px;
}

.guangzipaibox1 p {
	font-family: "思源黑体 CN Normal";
	font-size: 24px;
	font-weight: bold;
	margin-left: 8px;
	float: left;
}
.guangzipaibox1 input {
	height: 24px;
	width: 54px;
	background-color: #FFFFFF;
	border: 1px solid #747474;
	float: right;
	margin-right: 8px;
	margin-top: 10px;
	border-radius:8px 8px 8px 8px;
	font-family: "思源黑体 CN Normal";
	font-size: 14px;
	color: #747474;
	line-height: normal;
}
.gzptopbox1 {
	height: 40px;
	width: 100%;
}
.gzpdownbox1 p {
	font-size: 14px;
	font-weight: bold;
	line-height: 22px;
	writing-mode:tb-rl;
	float: left;
}
.gzpdownbox1 span {
	float: right;
	font-size: 25px;
	font-weight: bolder;
	font-family: "思源黑体 CN Normal";
	color: #38aca1;
	line-height: 38px;
	margin-right: 5px;
}

.gzpdownbox1 {
	height: 60px;
	width: 130px;
}


.cwneirongbox1 {
	height: 300px;
	width: 1600px;
	margin-top: 8px;
	margin-bottom: 14px;
}
.leftnrbox1 {
	float: left;
	height: 300px;
	width: 800px;
	background-color: #999999;
}
.rightnrbox1 {
	background-color: #333333;
	float: left;
	height: 300px;
	width: 800px;
}
.wdpicbox1 {
	width: 1600px;
}
.wdpicbox1 li {
	float: left;
	height: 235px;
	width: 210px;
	border: 1px solid #747474;
	border-radius:5px 5px 5px 5px;
	margin: 15px;
}
.wdpictopbox1 {
	width: 200px;
	margin-top: 5px;
	margin-right: auto;
	margin-left: auto;
	height: 160px;
	margin-bottom: 5px;
}
.wdpictopbox1 img {
	height: 160px;
	width: 200px;
}

.wdpicdownbox1 {
	width: 210px;
	height: 56px;
	margin-top: 10px;
}
.wdpicdowntxt1 {
	float: left;
	height: 56px;
	width: 36%;
	text-align: center;
}
.wdpicdowntxt1 p {
	font-size: 22px;
	font-family: "思源黑体 CN Normal";
	line-height: 54px;
	color: #FF0000;
}
.wdpicdowntxt2 {
	float: right;
	height: 56px;
	width: 64%;
}
.timetoptxt1 {
	height: 34px;
	width: 95%;
	padding-right: 5%;
}
.timetoptxt1 p {
	font-size: 16px;
	font-family: "思源黑体 CN Normal";
	float: left;
	line-height: 17px;
	text-align: left;
	overflow: hidden;
}
.timedowntxt1 {
	height: 22px;
	width: 100%;
}
.timedowntxt1 p {
	font-size: 12px;
	float: left;
	line-height: 22px;
	margin-right: 12px;
}
.tongjimokuaibigbox {
	height: 68px;
	width: 1600px;
}
.tongjimokuaibigbox li {
	height: 44px;
	width: 200px;
	float: left;
	margin-right: 10px;
	border: 1px solid #eeeeee;
	margin-top: 10px;
	border-radius:5px 5px 5px 5px;
}
.tongjimokuaibigbox ul {
	width: 1630px;
}
.biaoqianleftbox1 {
	float: left;
	height: 44px;
	width: 89px;
	text-align: center;
	border-radius:5px 0px 0px 5px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #eeeeee;
}
.biaoqianleftbox1 p {
	font-size: 28px;
	line-height: 44px;
	font-family: "思源黑体 CN Normal";
	color: #00A088;
}

.biaoqianrightbox1 {
	float: right;
	height: 44px;
	width: 110px;
	text-align: center;
}
.biaoqianrightbox1 p {
	font-family: "思源黑体 CN Normal";
	font-size: 14px;
	color: #333333;
	line-height: 44px;
}
s
